.top{
	display:inline-block;
	color: white;
	background-color: #001489;
	text-align: center;
	width: 10vw;
	
}

#bar{
	background-color: #001489;
	padding-right: 5vw;
	padding-left: 5vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

#right {
	padding-right: 5vw;
}

#left{
	padding-left: 5vw;
}

#logo {
	padding-top: 2vw;
	padding-left: 5vw;
}

.mid {
	display:inline-block
}

#DH{
	background-color: #001489;
	text-align:right;
	color: white;
	padding: .5vw;
	margin-left:50vw;
	max-width:10vw;
}

#OS{
	background-color: #001489;
	text-align:right;
	color: white;
	padding: .5vw;
	max-width:10vw;
	
}

#translate{
	text-align:right;
	margin-left:72vw;
	font-size:.7vw;
}

#UO{
	text-align:right;
	margin-left:1vw;
	font-size:.7vw;
}

.buttons{
	display:inline-block;
	object-fit: contain;
	padding-right: 1vw
}

.buttons2{
	display:inline-block;
	margin:1.7vw;
	color:black;
	max-width:10vw;
}
#left2{
	padding-left:20vw
}

#right2{
	padding-right:5vw
}

#left3{
	padding-left:18vw
}

#bar3{
	background-color:whitesmoke;
	padding:1vw;
}