body{
}

.top{
	display:block;
	color: white;
	background-color: #001489;
	margin:1vw;
	margin-top: 6vw;
	
}

#bar{
	background-color: #001489;
	padding-right: 1vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	margin-right: 90vw;
	height: 49.5vw;
		border-style: solid;
	border-width: .2vw;
	border-color: rgba(255,212,0,1.00);
	border-radius: 20px;
	
}

#right {
	padding-right: 1vw;
}


#logo {
	margin-left: 11vw;
}

#bar2{
	margin-top: -51vw;
}

.mid {
	display:inline-block
}

#DH{
	background-color: #001489;
	text-align:right;
	color: white;
	padding: .5vw;
	margin-left:50vw;
	max-width:10vw;
	border-width: .2vw;
	border-color: rgba(255,212,0,1.00);
	border-radius: 20px;
}

#OS{
	background-color: #001489;
	text-align:right;
	color: white;
	padding: .5vw;
	max-width:10vw;
	border-width: .5vw;
	border-color: rgba(255,212,0,1.00);
	border-radius: 20px;
	
}

#translate{
	text-align:right;
	margin-left:77vw;
	font-size:.7vw;
}

#UO{
	text-align:right;
	margin-left:1vw;
	font-size:.7vw;
}

.buttons{
	display:inline-block;
	object-fit: contain;
	padding-right: 1vw;
	color: #001489;
}

.buttons2{
	display:inline-block;
	margin-right:2.3vw;
	color:#001489;
	max-width:10vw;
}
.buttons3{
	display:inline-block;
	margin-right:4vw;
	margin-left: -1vw;
	color:#001489;
	max-width:10vw;
}

.buttons4{
	display:inline-block;
	margin-right:4.5vw;
	margin-left: 2vw;
	color:#001489;
	max-width:10vw;
}
#left2{
	padding-left:10vw
}

#right2{
	padding-right:9vw
}

#left3{
	padding-left: 10.5vw
}

#bar3{
	background-color:whitesmoke;
	padding:1vw;
	margin-left: 10vw;
	border-style: solid;
	border-width: .1vw;
	border-color: rgba(255,212,0,1.00);
	border-radius: 20px;
	
}

#img{
	margin-left: 31vw;
	margin-top: .5vw;
	border-style: solid;
	border-width: .2vw;
	border-color: rgba(255,212,0,1.00);
	border-radius: 50px;
}

h2{
	margin-left: 43vw;
	margin-top: .5vw;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 2vw;
	color:#001489;
}