body{
	background-color: darkolivegreen
	
}
#links{
	background-color:black;
	color: floralwhite;
	text-align: center;
	margin-left: -.3vw;
	margin-right: -.3vw;
	margin-top: -.3vw;
	font-size: .8vw;
	padding: .3vw;
}
.links{
	margin:6vw;
	color: floralwhite;
	text-decoration: none;
}
#title{
	background-color:floralwhite;
	text-align: center;
	font-size: 2vw;
	margin-top: -2.7vw;
	margin-left: -.3vw;
	margin-right: -.3vw;
}

#intro{
	color:floralwhite;
	margin-left: 5vw;
	margin-right: 5vw;
	text-align: center;
	font-size: .9vw
}

#huey1{
	margin-left: 23vw;
	border-style: solid;
	border-color: floralwhite;
	border-width: .3vw
}

#body{
	color:floralwhite;
	margin-left: 5vw;
	margin-right: 5vw;
	text-align: center;
	font-size: .9vw
}
#huey2{
	margin-left: 25vw;
	border-style: solid;
	border-color: floralwhite;
	border-width: .3vw
}

li{
	color:floralwhite;
	margin: 2vw;
	font-size: .8vw
}

ul{
	border-style: solid;
	border-color: floralwhite;
	border-width: .3vw;
	margin-left: 5vw;
	margin-right: 65vw;
	
}

#img2{
	margin-left: 35vw;
	margin-right: 1vw;
	margin-top:-50vw;
	border-style: solid;
	border-color: floralwhite;
	border-width: .3vw
}

#img3{
	margin-top:-100vw;
	border-style: solid;
	border-color: floralwhite;
	border-width: .3vw;
}

.huey1{
	margin-left: 2vw;
	margin-top: 5vw;
	border-style: solid;
	border-color: floralwhite;
	border-width: .3vw
}

#img4{
	margin-left: 17vw;
}

h2{
	font-size: 2vw;
}

h5{
	font-size: 1vw;
}

select{
	font-size: 1vw;
}

button{
	font-size: 1vw;
}

#score{
	font-size: 1vw;
}

#score2{
	font-size: 1vw;
}








