
body{
	background-color:black
}
p{
	color:steelblue;
	border: 2px solid burlywood;
	border-radius: 5px;
	padding: 3px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
h2{
	color:steelblue;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	
}
h3{
	color:steelblue;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	
}
a{
	color:burlywood;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
img {
	border: 2px solid burlywood;
	border-radius:5px;
	display:inline-block;
}
ul {
	color:steelblue;
	border: 2px solid burlywood;
	border-radius:5px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	width: 300px;
	
}
	
h5{
	color:burlywood;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size:15px;
}
li{
	color:burlywood;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
h1{
	color:burlywood;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

h6{
	color:burlywood;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size:2vw;
	margin-left: 10vw;
}

button{
	font-size:2vw
}

input{
	font-size:2vw;
}









#h{
	border: 2px solid burlywood;
	text-align: center;
	padding: 2vw;
}

#linklist{
	border: 2px solid burlywood;
	display:inline-block;
	width: 31vw;
	padding:10px;
	text-align: justify;
}
#aboutme{
	border: 2px solid burlywood;
	display:inline-block;
	width: 65vw;
	padding:10px;
	text-align: justify;
	vertical-align: top
}



.links{
	display:block;
}

.me{
	display:block;
}

.class1{
	color:white;
	display: inline-block;
	width:625px;
}

.class2{
	display: inline-block;
	width:250px;
	border: 1px solid burlywood;
	margin-bottom: 0px;
	margin-top: -1px;
	margin-right: -5px;
	margin-left: 0px;
	padding: 5px;
}

.penguin{
	display:inline;
	white-space: nowrap;
	overflow:hidden;
}



