body{
	background-color: #f8f9fa;
}

#logo{
	margin-left: 1vw;
}

.topbar1{
	display:inline-block;
	margin: .2vw;
	vertical-align: top
	
}

.left{
	display:block;
	font-size: .6vw;
	margin-left: 1vw;
	
}

#left1{
	margin-left: 75vw;
}

#left2{
	margin-left:8vw;
	margin-top: -4vw;

}

#left3{
	margin-left: 72vw;
	margin-top: -4vw;
}

#a{
	margin-top: -4vw;
}

#b{
	margin-top: -4vw;
}

#c{
	margin-top: -4vw;
}

#d{
	margin-top: -4vw;
}

#top1{
	margin-top:1vw;
}

#header{
	text-decoration: underline
}
#header2{
	text-decoration: underline
}
#header3{
	text-decoration: underline
}
#header4{
	text-decoration: underline
}
#header5{
	text-decoration: underline
}

#leftbar{
	background-color: #f8f9fa;
}

#body{
	background-color:white;
	padding: 1vw;
	margin-left: 7vw;
	margin-top: -36vw;
	padding-left: 1vw;
	border-style: solid;
	border-color:lightblue;
	border-width: 1px;
	
}

#cords{
	margin-left:72vw;
	font-size: .5vw
}

#table1{
	background-color: #f8f9fa;
	margin-right: 80vw;
	border-style: solid;
	border-color:black;
	border-width: 1px;
}

.table1{
	display:block;
}

#tabletitle1{
	margin-left: 1.5vw;
}

.geo{
	display: inline-block;
}

.references{
	
}


#politics{
	background-color: #ccccff
}

.bottom{
	background-color: #ccccff;
	text-align: center;
	padding: .2vw;
	border-style: solid;
	border-width: thin
}

#bottom{
	background-color: #f8f9fa;
	padding: .2vw;
	border-style: solid;
	border-width: thin
}

.bottom2{
	font-size: .5vw;
	margin-left: 9vw
}