body{
	background-color: #f8f9fa;
}

#logo{
	margin-left: 1vw;
}

.topbar1{
	display:inline-block;
	margin: .2vw;
	vertical-align: top
	
}

.left{
	display:block;
	font-size: .6vw;
	margin-left: 1vw;
	
}

#left1{
	margin-left: 75vw;
}

#left2{
	margin-left:8vw;
	margin-top: -4vw;

}

#left3{
	margin-left: 71vw;
	margin-top: -4vw;
}

#a{
	margin-top: -4vw;
}

#b{
	margin-top: -4vw;
}

#c{
	margin-top: -4vw;
}

#d{
	margin-top: -4.2vw;
}

#top1{
	margin-top:1vw;
}

#header{
	text-decoration: underline
}
#header2{
	text-decoration: underline
}
#header3{
	text-decoration: underline
}
#header4{
	text-decoration: underline
}
#header5{
	text-decoration: underline
}

#leftbar{
	background-color: #f8f9fa;
}

#body{
	background-color:white;
	padding: 1vw;
	margin-left: 7vw;
	margin-top: -36vw;
	padding-left: 1vw;
	border-style: solid;
	border-color:lightblue;
	border-width: 1px;
	
}

#cords{
	margin-left:72vw;
	font-size: .5vw
}

#table1{
	background-color: #f8f9fa;
	margin-right: 67vw;
	border-style: solid;
	border-color:black;
	border-width: 1px;
}

.table1{
	display:block;
}

#tabletitle1{
	margin-left: 1.5vw;
}

.geo{
	display: inline-block;
}

.references{
	
}


#politics{
	background-color: #ccccff
}

.bottom{
	background-color: #ccccff;
	text-align: center;
	padding: .2vw;
	border-style: solid;
	border-width: thin
}

#bottom{
	background-color: #f8f9fa;
	padding: .2vw;
	border-style: solid;
	border-width: thin;
	margin-bottom: 4vw
}

.bottom2{
	font-size: .5vw;
	margin-left: 9vw
}

#tables{
	background-color: #f8f9fa;
	border-style: solid;
	padding: 5px;
	border-width:thin;
	margin-left: 75vw;
	margin-top: -1.8vw;
	width: 15vw
}

#lower{
	margin-top: -110vw;
	margin-right: 15vw
}

.top{
	text-align: center;
}

#city{
	text-align: center;
	background-color: #ccccff;
}

.contents{
	display: inline-block;
}

#aa{
	text-align: right;
	margin-left: 9vw;
}

#ab{
	text-align: right;
	margin-left: 10.5vw;
}

#ac{
	text-align: right;
	margin-left: 10.5vw;
}

#ad{
	text-align: right;
	margin-left: 6vw;
}

#ae{
	text-align: right;
	margin-left: 7.3vw;
}

#af{
	text-align: right;
	margin-left: 7.6vw;
}

#ag{
	text-align: right;
	margin-left: 8.5vw;
}

#ah{
	text-align: right;
	margin-left: 7vw;
}

#ai{
	text-align: right;
	margin-left: 9vw;
}

#aj{
	text-align: right;
	margin-left: 6vw;
}

#ak{
	text-align: right;
	margin-left: 6.1vw;
}

#al{
	text-align: right;
	margin-left: 9.1vw;
}

#am{
	text-align: right;
	margin-left: 10vw;
}

#an{
	text-align: right;
	margin-left: 9.5vw;
}

#ao{
	text-align: right;
	margin-left: 8vw;
}

#ap{
	text-align: right;
	margin-left: 7.5vw;
}

#tables2{
	background-color: #f8f9fa;
	border-style: solid;
	padding: 5px;
	border-width:thin;
	margin-top: 1vw;
	margin-left: 83vw;
	width: 7vw;
}

.contents2{
	display: inline-block;
	margin-right: .7vw;
}

.titles{
	text-align: center;
}

a{
	text-decoration: none;
	color:rgba(0,0,238,1.00);
}

#fake{
	color:black;
}

